{% extends 'filmographie/index.html' %}

{% block title %}Détails du Film{% endblock %}
{% block content %}
    <h1>{{ film.titre }}</h1>
    <p>Réalisateur: {{ film.realisateur }}</p>
    <p>Catégorie: {{ film.categorie.nom }}</p>
    <p>Année de sortie: {{ film.annee_sortie }}</p>
    <img src="{{ film.affiche.url }}" alt="{{ film.titre }}">

    <h2>Acteurs</h2>
    <ul>
        {% for film_acteur in acteurs %}
            <li>{{ film_acteur.acteur.prenom }} {{ film_acteur.acteur.nom }}</li>
        {% endfor %}
    </ul>

    <h2>Commentaires</h2>
    <ul>
        {% for commentaire in commentaires %}
            <li>{{ commentaire.personne.pseudo }}: {{ commentaire.commentaire }} ({{ commentaire.note }}/10)</li>
        {% endfor %}
    </ul>

    <h3>Moyenne des notes</h3>
    <p>Professionnels: {{ avg_note_pro }}</p>
    <p>Amateurs: {{ avg_note_ama }}</p>

    <h3>Commentaire le mieux noté</h3>
    {% if commentaire_haut %}
        <p>{{ commentaire_haut.personne.pseudo }}: {{ commentaire_haut.commentaire }} ({{ commentaire_haut.note }}/10)</p>
    {% else %}
        <p>Pas de commentaires</p>
    {% endif %}

    <h3>Commentaire le moins bien noté</h3>
    {% if commentaire_bas %}
        <p>{{ commentaire_bas.personne.pseudo }}: {{ commentaire_bas.commentaire }} ({{ commentaire_bas.note }}/10)</p>
    {% else %}
        <p>Pas de commentaires</p>
    {% endif %}
{% endblock %}
